/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital@0;1&family=Exo:ital,wght@0,600;1,600&display=swap");

/* Varíaveis */
:root {
  /* Cores */
  --black-ligthen: #0f0f0f;
  --black-dark: #070807;
  --black-light: #1c1c1c;

  --bege-darken: #4e3d18;
  --bege-dark: #896b2a;
  --bege-normal: #c9a24d;
  --bege-light: #e1cc9d;
  --gradient01: linear-gradient(90deg, #896b2a 0%, #e1cc9d 100%);

  --white-dark: #dcdcdc;
  --white-light: #ffffff;
  --white-normal: #f2f2f2;

  --gray-600: #8a8a8a;
  --gray-500: #969696;
  --gray-400: #a2a2a2;
  --gray-300: #aeaeae;
  --gray-200: #bababa;
  --gray-100: #c4c4c4;

  --h1-desktop: 64px;
  --h2-desktop: 48px;
  --h3-desktop: 32px;
  --h4-desktop: 24px;
  --h5-desktop: 22px;
  --h6-desktop: 20px;

  --h1-mobile: 40px;
  --h2-mobile: 32px;
  --h3-mobile: 24px;
  --h4-mobile: 20px;
  --h5-mobile: 18px;
  --h6-mobile: 16px;

  --h1-line-height: 1.2em;
  --h2-line-height: 1.2em;
  --h3-line-height: 1.2em;
  --h4-line-height: 1.3em;
  --h5-line-height: 1.4em;
  --h6-line-height: 1.4em;

  --p1-desktop: 18px;
  --p2-desktop: 16px;
  --p3-desktop: 14px;

  --p1-mobile: 16px;
  --p2-mobile: 14px;
  --p3-mobile: 12px;

  --p-line-height: 1.5em;
}

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-family: "Exo 2", sans-serif;
  color: var(--white-light);
}

body {
  background-color: var(--black-ligthen);

  &::-webkit-scrollbar {
    background-color: var(--black-light);
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--bege-light);
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--bege-normal);
  }
}

h1 {
  font-family: "Exo", sans-serif;
  font-size: var(--h1-desktop);
  line-height: var(--h1-line-height);

  @media screen and (max-width: 1215px) {
    font-size: var(--h1-mobile);
  }
}

h2 {
  font-family: "Exo", sans-serif;
  font-size: var(--h2-desktop);
  line-height: var(--h2-line-height);

  @media screen and (max-width: 1215px) {
    font-size: var(--h2-mobile);
  }
}

h3 {
  font-family: "Exo", sans-serif;
  font-size: var(--h3-desktop);
  line-height: var(--h3-line-height);
  color: var(--bege-light);

  @media screen and (max-width: 1215px) {
    font-size: var(--h3-mobile);
  }
}

h4 {
  font-family: "Exo", sans-serif;
  font-size: var(--h4-desktop);
  line-height: var(--h4-line-height);
  color: var(--bege-normal);

  @media screen and (max-width: 1215px) {
    font-size: var(--h4-mobile);
  }
}

h5 {
  font-family: "Exo", sans-serif;
  font-size: var(--h5-desktop);
  line-height: var(--h5-line-height);

  @media screen and (max-width: 1215px) {
    font-size: var(--h5-mobile);
  }
}

h6 {
  font-family: "Exo", sans-serif;
  font-size: var(--h6-desktop);
  line-height: var(--h6-line-height);

  @media screen and (max-width: 1215px) {
    font-size: var(--h6-mobile);
  }
}

p {
  font-family: "Exo 2", sans-serif;
  font-size: var(--p1-desktop);
  line-height: var(--p-line-height);

  @media screen and (max-width: 1215px) {
    font-size: var(--p1-mobile);
  }
}

/* BOTÃO CTA */
.btn-cta {
  position: relative;
  margin-top: 32px;
  padding: 15px 30px;
  background: var(--gradient01);
  border-radius: 100px;
  color: var(--white-light);
  font-family: "Exo", sans-serif;
  font-size: var(--h6-desktop);
  font-weight: 600;

  &::after {
    content: "";
    top: 0;
    right: -50px;
    position: absolute;
    height: 58px;
    border-radius: 100%;
    width: 58px;
    background-image: url("../assets/svg/arrow-btn.svg");
    background-position: center;
    background-color: var(--bege-light);
  }

  @media screen and (max-width: 1215px) {
    font-size: var(--h6-mobile);

    &::after {
      content: "";
      top: 0;
      right: -45px;
      position: absolute;
      height: 52px;
      border-radius: 100%;
      width: 52px;
      background-image: url("../assets/svg/arrow-btn.svg");
      background-position: center;
      background-color: var(--bege-light);
    }
  }
}

/* Menu */
nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1216px;
  height: 80px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.7);
  border-radius: 100px;
  margin-top: 24px;
  padding: 12px 16px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  display: flex;
}

nav a {
  color: var(--white-light);
  padding: 1em 2em;
  transition: background-color 0.5s ease;
  font-size: 18px;
  font-weight: 400;

  &:hover {
    background-color: var(--bege-dark);
  }
}

nav a.accent-link {
  font-family: "Exo", sans-serif;
  padding: 15px 30px;
  background: var(--gradient01);
  border-radius: 100px;
  font-size: 20px;
  font-weight: 600;
}

.bx {
  display: none;
}

.logo-menu-mobile {
  display: none;
}

#close-menu {
  display: none;
}

@media screen and (max-width: 1215px) {
  /* MENU */
  .bx {
    position: relative;
    display: block;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      background-color: var(--white-dark);
      top: -12px;
      right: 10px;
      border-radius: 2px;
      width: 40px;
      height: 5px;
      display: block;
      transition: 0.5s ease;
    }

    &::before {
      content: "";
      position: absolute;
      background-color: var(--white-dark);
      top: 0;
      right: 0;
      border-radius: 2px;
      width: 40px;
      height: 5px;
      display: block;
      transition: 0.5s ease;
    }
  }

  .logo-menu-mobile {
    display: block;
  }

  .menu-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 9;
    width: 100%;
  }

  .show div {
    display: flex;
    gap: 64px;
    align-items: center;
    justify-content: space-between;
  }

  #close-menu {
    display: block;
    cursor: pointer;
  }

  nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 48px 12px;
    top: 0;
    left: 150%;
    height: 100vh;
    width: 100%;
    z-index: 10;
    border-radius: 0;
    margin: 0;
    backdrop-filter: blur(0px);
    background: var(--black-light);
    transition: left 300ms ease-out;

    gap: 32px;
  }

  nav.show {
    left: 50%;
  }

  nav ul {
    width: 100%;
    flex-direction: column;
  }

  nav a {
    width: 100%;
  }

  nav a.accent-link {
    text-align: center;
  }
}

/* HERO */
.container-hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  border-radius: 0px 0px 50px 50px;
  padding: 0px 20px;

  .hero-video {
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video-cover {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    inset: 0px;
  }

  .hero-content {
    position: relative;
    z-index: 8;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    h1 {
      width: 700px;

      @media screen and (max-width: 1215px) {
        width: 100%;
      }
    }

    p {
      width: 500px;

      @media screen and (max-width: 1215px) {
        width: 100%;
      }
    }
  }
}

/* A ACADEMIA */
.container-gym {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 96px 0px;

  .container-gym-title {
    max-width: 1216px;
    width: 100%;
    margin: 0 auto;
  }

  @media screen and (max-width: 1215px) {
    padding: 64px 20px;
  }
}

.cards {
  display: flex;
  width: 100%;
  margin-left: 352px;
  gap: 32px;
}

.card {
  position: relative;
  width: 384px;
  height: 560px;
  border-radius: 10px;
  overflow: hidden;

  @media screen and (max-width: 1215px) {
    width: 280px;
    height: 560px;
  }

  img:first-child {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-title {
    position: absolute;
    bottom: 50px;
    left: 20px;
    right: 20px;

    @media screen and (max-width: 1215px) {
      bottom: 100px;
      left: 20px;
      right: 20px;
    }
  }

  .card-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;

    @media screen and (max-width: 1215px) {
      bottom: 50px;
      left: 20px;
      right: 20px;
    }
  }

  .card-icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
  }
}

.row,
.section {
  position: relative;
  overflow: hidden;
}

.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.horiz-gallery-strip,
.horiz-gallery-wrapper {
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
  position: relative;
  gap: 32px;
}

@media screen and (max-width: 1215px) {
  .horiz-gallery-strip {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
  }
}

/* DIFERENCIAIS */
.container-diferenciais {
  max-width: 1216px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 96px 0px;
}

.comparison {
  position: relative;
  margin-top: 32px;
}

.comparison::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 33%;
  margin: auto;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(8px);
  border-radius: 5px;
  z-index: 0;
}

.comparison-header,
.comparison-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 18px 12px;
  position: relative;
  z-index: 1;
  gap: 126px;
}

.comparison-row {
  border-top: 1px solid var(--gray-400);

  div {
    display: flex;
    gap: 8px;
  }
}

.comparison-row:last-child {
  border-bottom: 1px solid var(--gray-400);
}
